@font-face {
	font-family:Principal;
	src:url(../fonts/PressStart2P-Regular.ttf);
}

body {
	font-family:Principal;
  background: #fafafa;
}

.background-game {
  position: absolute;
  bottom: 0px;
  background-image: url('../img/background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url('../img/dino.png');
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url('../img/cactus.png');
}

.game-over {
  color: #666;
  text-align: center;
  margin: 50px 0;
}

#restart{
	font-family:Principal;
	background-color: #111;
	border-radius: 10px;
  color: #fff;
  margin: 50px 0 0 545px;
	display: flex;
	cursor: pointer;
	height: 32px;
	transform: scale(1.5);
}