@font-face {
	font-family: Principal;
	src:url(../fonts/PressStart2P-Regular.ttf);
}

:root {
  --branco: #fafafa;
  --preto: #000000;
  --cinza: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Principal;
  background: var(--branco);
}

@keyframes slideright {
  from {
    background-position: 525px;
  }
  to {
    background-position: 0%;
  }
}

.background-game {
  bottom: 0px;
  background-image: url('../img/background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
  position: absolute;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url('../img/dino.png');
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url('../img/cactus.png');
}

.game-over {
  color: var(--cinza);
  text-align: center;
  margin: 50px 0;
}

.group {
  text-align: center;
  justify-content: center;
}

#restart{
	font-family: Principal;
	background-color: var(--preto);
	border-radius: 10px;
  color: var(--branco);
  margin: 10vh 0 6vh 90vh;
	display: flex;
	cursor: pointer;
  height: 32px;
	transform: scale(1.5);
}